* {
    box-sizing: border-box;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b8ffaf;
    min-height: 50vh;
  }

  .teclado {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    text-align: center;
  }

.teclado h3 {
    padding: auto 0;
    border: 3px solid #a23314;
}

  


